MCP_EMAIL_SERVER_ACCOUNT_NAME=work
MCP_EMAIL_SERVER_FULL_NAME=<NAME>
MCP_EMAIL_SERVER_EMAIL_ADDRESS=<EMAIL>
MCP_EMAIL_SERVER_USER_NAME=<EMAIL>
MCP_EMAIL_SERVER_PASSWORD=<PASSWORD>
MCP_EMAIL_SERVER_IMAP_HOST=<IMAP_HOST>
MCP_EMAIL_SERVER_IMAP_PORT=993
MCP_EMAIL_SERVER_SMTP_HOST=<SMTP_HOST>
MCP_EMAIL_SERVER_SMTP_PORT=465